{% load static %}
<html>
<head>
<title>Text</title>
<meta charset="utf-8">
</head>
 <body style="background-image:url({% static 'leave2.jpg' %})">
<form action="./reg " method="get">
<header>
  <div class="heading">
<center>
<h1>LEAVE MANAGEMENT SYSTEM </h1>
  </div>
</center>

<div id = "example" class="row">
<ul class="main-nav">
<li><a href="/reg/">EMP REGISTRTION</a></li><br>
<li><a href="/log/">LOGIN</a></li><br>
<li><a href="/admin/">ADMIN</a></li><br>
</ul>
</div>

<div class="hero">
</div>
</header>
    </form>
</body>
</html>